<h1 style="color:#7B241C"> Natural Language Processing</h1>
<h2 style="color:#922B21"> “Disaster Tweets”</h2>

<img src="img1.jpg" width=600px >

<h2 style="color:#641E16;">Natural language processing </h2>
<ul>
    <li>Field of study, focused on making sense of language Using statistics and computers</li>
    <li>helps computers communicate with humans in their language and scales other language-related tasks. For example, NLP   makes it possible for computers to read text, hear speech, interpret it, measure sentiment, and determine which parts are important.</li>
</ul>
<h3 style="color:#922B21;">NLP applications include: </h3>
<ul>
<li>Chatbots </li>
<li>Translation </li>
<li>Sentiment analysis</li>
<li>...and many more!</li>
</ul>

<h2 style="color:#2980B9; font-size:35px">Twitter </h2>
<img src="tweet.jpg" width=500px style="border-radius:30%">

A lot of people now are using smartphones, which enables people to easily be on social media.

Twitter uniquely provides its users the opportunity to discover what's happening in the world. 

According to Twitter’s latest figures from the fourth quarter of 2020, the platform boasts <a href="https://s22.q4cdn.com/826641620/files/doc_financials/2020/q4/FINAL-Q4'20-TWTR-Shareholder-Letter.pdf"> 192 million daily active users </a>(Twitter, 2021). 

Twitter has become an important communication channel in times of emergency.
The ubiquitousness of smartphones enables people to announce an emergency they’re observing in real-time. Because of this, more agencies are interested in programmatically monitoring Twitter (i.e. disaster relief organizations and news agencies).

But, it’s not always clear whether a person’s words are announcing a disaster, Take this example:<br>
<img src="tweet_screenshot.png" width=250px style="float:left"><br>
<pre>The author explicitly uses the word “ABLAZE” but means it metaphorically.
This is clear to a human right away, especially with the visual aid.
But it’s less clear to a machine.</pre>
<pre>This tweet can be found at <a href="https://twitter.com/AnyOtherAnnaK/status/629195955506708480">tweet source</a></pre>

<h2 style="color:#1F618D;font-size:35px">Disaster Tweets<h2>

<p style="font-size:20px;">In this project, I built a machine learning model that predicts which Tweets are about real disasters and which ones aren’t.</p>

<h3>Files:</h3>
<ul>
<li>train.csv - the training set</li>
<li>test.csv - the test set</li>
<li>sample_submission.csv - a sample submission file in the correct format</li>
</ul>

<h3>Columns:</h3>
<ul>
<li>id - a unique identifier for each tweet</li>
<li>text - the text of the tweet</li>
<li>location - the location the tweet was sent from (may be blank)</li>
<li>keyword - a particular keyword from the tweet (may be blank)</li>
<li>target - in train.csv only, this denotes whether a tweet is about a real disaster (1) or not (0)</li>
</ul>

<h3>What am I predicting?</h3><br>
Predicting whether a given tweet is about a real disaster or not. If so, predict a 1. If not, predict a 0.

<h3>Data</h3><br>
This dataset was created by the company figure-eight and originally shared on their <a href="https://appen.com/open-source-datasets/">‘Data For Everyone’</a> website here.

<h2> So, Let's get started</h2>

<h3>Importing Dependencies and Data</h3>
<pre>Start by importing the dependencies and the data.
The data is stored as a comma-separated values (CSV)  file, so I will use pandas’ read_csv() function to open it into 
a DataFrame.</pre>

In [1]:
# Import libraries 
import re
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import nltk
from nltk.stem.snowball import SnowballStemmer

In [2]:
#create dataframe from csv
df_train = pd.read_csv("data/train.csv")
df_test = pd.read_csv("data/test.csv")
df_sample = pd.read_csv("data/sample_submission.csv")

In [68]:
df_sample["target"].sum()

0

<h3>Exploratory Data Analysis(EDA)</h3>
<pre>How do we get from data to answers? 
Exploratory data analysis is a process for exploring datasets, answering questions, 
and visualizing results.</pre>

In [3]:
# Get the first 5 rows of the train data
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
# Get the first 5 rows of the test data
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [5]:
# The shape of the data
df_train.shape, df_test.shape

((7613, 5), (3263, 4))

In [6]:
# Check if there are any duplicated values in the train data 
df_train.duplicated().sum()

0

In [7]:
# Check if there are any duplicated values in the test data 
df_test.duplicated().sum()

0

In [8]:
# Get the columns' names of the train data 
df_train.columns

Index(['id', 'keyword', 'location', 'text', 'target'], dtype='object')

In [9]:
# Get the columns' names of the test data 
df_test.columns

Index(['id', 'keyword', 'location', 'text'], dtype='object')

In [10]:
# See the locations in the df_train  
df_train["location"].value_counts()

USA                   104
New York               71
United States          50
London                 45
Canada                 29
                     ...
The Desert              1
Mogadishu, Somalia      1
Jerusalem!              1
OK                      1
cleveland, oh           1
Name: location, Length: 3341, dtype: int64

In [11]:
# See the locations in the df_test  
df_test["location"].value_counts()

New York                 38
USA                      37
Worldwide                16
United States            15
Canada                   13
                         ..
Wayne, NJ                 1
Paonia, Colorado          1
Crescent Moon w/ Wook     1
Mystic Falls              1
Fukushima, JAPAN          1
Name: location, Length: 1602, dtype: int64

In [12]:
# See the keywords in the df_train  
df_train["keyword"].value_counts()

fatalities               45
armageddon               42
deluge                   42
sinking                  41
harm                     41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [13]:
# See the keywords in the df_test  
df_test["keyword"].value_counts()

deluged          23
rubble           22
demolished       22
obliteration     21
annihilation     21
                 ..
forest%20fire     5
threat            5
fatalities        5
inundation        4
epicentre         1
Name: keyword, Length: 221, dtype: int64

In [14]:
# Delete unimportant features from train data
df_train.drop(["keyword","location"], axis=1, inplace=True)

In [15]:
# Delete unimportant features from test data
df_test.drop(["keyword","location"], axis=1, inplace=True)

In [16]:
df_train.isnull().sum()

id        0
text      0
target    0
dtype: int64

In [17]:
df_test.isnull().sum()

id      0
text    0
dtype: int64

In [18]:
# Number of Disaster Tweets
print("Disaster_Tweets_numbers: " +str(len(df_train[df_train["target"]==1])))
print("not Disaster_Tweets_numbers: " +str(len(df_train[df_train["target"]==0])))

Disaster_Tweets_numbers: 3271
not Disaster_Tweets_numbers: 4342

<h3>What is data cleaning and why is it important?</h3>

Data cleaning, or data cleansing, is the process of fixing or removing incorrect, corrupted, incorrectly formatted, duplicate, or incomplete data within a dataset.
To make our machine learning model and predict the disaster tweets, we cannot go straight from raw text to fitting the model  it is nonsense to convert unnersesary words, characters, numbers, and punctuations

### 1- Filter Out Punctuation and numbers, and tokenize the text
Tokenization is the process by which we break down articles into individual sentences or words, as needed. Besides the tokenization method provided by NLTK, we might have to perform additional filtration to remove tokens that are entirely numeric values or punctuation.
So, here I use RegexpTokenizer, which will get us text which is not words(alphabet)

In [21]:
# Remove Numbers and tokenize the text into words
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'[^\d\W]+')
df_train['cleaned'] = [tokenizer.tokenize(item) for item in df_train['text']]
df_test['cleaned'] = [tokenizer.tokenize(item) for item in df_test['text']]

In [22]:
df_train['cleaned']

0       [Our, Deeds, are, the, Reason, of, this, earth...
1           [Forest, fire, near, La, Ronge, Sask, Canada]
2       [All, residents, asked, to, shelter, in, place...
3       [people, receive, wildfires, evacuation, order...
4       [Just, got, sent, this, photo, from, Ruby, Ala...
                              ...
7608    [Two, giant, cranes, holding, a, bridge, colla...
7609    [aria_ahrary, TheTawniest, The, out, of, contr...
7610    [M, UTC, km, S, of, Volcano, Hawaii, http, t, ...
7611    [Police, investigating, after, an, e, bike, co...
7612    [The, Latest, More, Homes, Razed, by, Northern...
Name: cleaned, Length: 7613, dtype: object

### 2- Stemming

Stemming is the process by which we bring down a word from its different forms to the root word.<br>
This helps us establish meaning to different forms of the same words without having to deal with each form separately. <br>
For example, the words 'fishing', 'fished', and 'fisher' all get stemmed to the word 'fish'.

In [23]:
# Detect Language
# from langdetect import detect
# df_train["lang"] = [detect( i ) for i in df_train["text"]]
# df_train["lang"].

In [24]:
# df_train["lang"].nunique()

In [25]:
# Perform stemming using WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer
# Create an English language SnowballStemmer object
stemmer = SnowballStemmer("english")
df_train['cleaned'] = df_train['cleaned'].apply(lambda x: [stemmer.stem(y) for y in x]) # Stem every word.
df_test['cleaned'] = df_test['cleaned'].apply(lambda x: [stemmer.stem(y) for y in x])

### 3- Delete stop words

Stop words are commonly used words (such as “the”, “a”, “an”, “in”)  
This words takes space in the dataset, so we are going to delete it.
For this, we can remove them easily, by storing a list of words that you consider to stop words.
We are going to use NLTK (Natural Language Toolkit), NLTK has a list of stopwords stored in 16 different languages.

In [26]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df_train['cleaned'].apply(lambda x: [item for item in x if item not in stop])
df_test['cleaned'].apply(lambda x: [item for item in x if item not in stop])

0                           [happen, terribl, car, crash]
1       [heard, earthquak, differ, citi, stay, safe, e...
2       [forest, fire, spot, pond, gees, flee, across,...
3                     [apocalyps, light, spokan, wildfir]
4                [typhoon, soudelor, kill, china, taiwan]
                              ...
3258    [earthquak, safeti, los, angel, ûò, safeti, fa...
3259    [storm, ri, wors, last, hurrican, citi, amp, h...
3260    [green, line, derail, chicago, http, co, utbxl...
3261    [meg, issu, hazard, weather, outlook, hwo, htt...
3262    [cityofcalgari, activ, municip, emerg, plan, y...
Name: cleaned, Length: 3263, dtype: object

### 4-convert text "list" to string

In [27]:
df_train['cleaned'] = df_train['cleaned'].apply(', '.join)
df_test['cleaned'] = df_test['cleaned'].apply(', '.join)
df_train['cleaned']

0       our, deed, are, the, reason, of, this, earthqu...
1              forest, fire, near, la, rong, sask, canada
2       all, resid, ask, to, shelter, in, place, are, ...
3       peopl, receiv, wildfir, evacu, order, in, cali...
4       just, got, sent, this, photo, from, rubi, alas...
                              ...
7608    two, giant, crane, hold, a, bridg, collaps, in...
7609    aria_ahrari, thetawniest, the, out, of, contro...
7610    m, utc, km, s, of, volcano, hawaii, http, t, c...
7611    polic, investig, after, an, e, bike, collid, w...
7612    the, latest, more, home, raze, by, northern, c...
Name: cleaned, Length: 7613, dtype: object

<h2> Let's Visualize the Data</h2>

<h3>Word Cloud</h3>

Data visualizations (like charts, graphs, infographics, and more) give a valuable way to visualize, and statistical important information, but what if your raw data is text-based? <br>
    
<span style="color:#F4D03F">Word cloud</span> generators can help simplify this process.<br>
    
A word cloud is a collection, or cluster, of words depicted in different sizes. The bigger and bolder the word appears, the more often it’s mentioned within a given text and the more important it is.

##  Vectorizers
Now, We have nearly cleaned the data, 
But as we said before, Computers are not like humans, it cannot understand text, machines only capable of understanding numbers and performing numerical computation. <br>
so our next step is to convert out text column to numeric data for the computer to be able to extract meaning from them. <br>

This method called, vectorizing.<br>

By vectorizing the documents we can further perform multiple tasks such as finding the relevant documents, ranking, clustering and so on.
This is the same thing that happens when you perform a google search. The web pages are called documents and the search text with which you search is called a query. google maintains a fixed representation for all of the documents. When you search with a query, google will find the relevance of the query with all of the documents, ranks them in the order of relevance and shows you the top k documents, all of this process is done using the vectorized form of query and documents. Although Googles algorithms are highly sophisticated and optimized, this is their underlying structure.

## TF-IDF

TF-IDF stands for “Term Frequency — Inverse Document Frequency”. <br>
This is a technique to quantify a word in documents,<br>
we generally compute a weight to each word which signifies the importance of the word in the document and corpus.

From our intuition, we think that the words which appear more often should have a greater weight in textual data analysis, <br>
but that’s not always the case. <br>
Words such as “the”, “will”, and “you” — called stopwords — appear the most in a corpus of text, but are of very little significance.  <br>
Instead, the words which are rare are the ones that actually help in distinguishing between the data, and carry more weight.

TF-IDF = Term Frequency (TF) * Inverse Document Frequency (IDF)

## TF: Term Frequency

This measures the frequency of a word in a document. <br>
we divide the the frequency with the total number of words in the document.<br>

## IDF: Inverse Data Frequency
used to calculate the weight of rare words across all documents in the corpus. <br>
The words that occur rarely in the corpus have a high IDF score.

Combining these two we come up with the TF-IDF score (w) for a word in a document in the corpus.

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer

# instantiate the vectorizer object
tfidfvectorizer_train = TfidfVectorizer(
                    analyzer='word',
                    stop_words= 'english',
                    ngram_range=(1, 1)
                    )

# convert th documents into a matrix
# Train data set
unigramdataGet_train = tfidfvectorizer_train.fit_transform(df_train["text"].astype('str'))
unigramdataGet_train = unigramdataGet_train.toarray()

vocab_train = tfidfvectorizer_train.get_feature_names()
unigramdata_features_train=pd.DataFrame(np.round(unigramdataGet_train, 1), columns=vocab_train)
unigramdata_features_train[unigramdata_features_train>0] = 1


# Test dataset
unigramdataGet_test= tfidfvectorizer_train.fir_transform(df_test["text"].astype('str'))
unigramdataGet_test = unigramdataGet_test.toarray()

vocab_test = tfidfvectorizer_train.get_feature_names()
unigramdata_features_test=pd.DataFrame(np.round(unigramdataGet_test, 1), columns=vocab_test)
unigramdata_features_test[unigramdata_features_test>0] = 1

In [62]:
x_train = unigramdata_features_train
y_train = df_train["target"]

x_test = unigramdata_features_test
y_test = df_sample['target']

In [81]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
print(f1_score(model.predict(x_train),y_train))
pred=model.predict(x_test)

print('Accuracy= {:.3f}'.format(metrics.accuracy_score(model.predict(x_train),y_train)))

# print('Precision',round(f1_score(y_test, y_pred),2),'%')

# print('Recall',round(recall_score(y_test, y_pred),2),'%')

0.9556324732536186

In [83]:
print('Accuracy= {:.3f}'.format(metrics.accuracy_score(model.predict(x_train),y_train)))

Accuracy= 0.963

In [84]:
print('Recall',round(recall_score(model.predict(x_train),y_train),2),'%')

Recall 0.98 %

# Word Embedding

Now, We have nearly cleaned the data, 
But as we said before, Computers are not like humans, it cannot understand text, machines only capable of understanding numbers and performing numerical computation. <br>
so our next step is to convert out text column to numeric data for the computer to be able to extract meaning from them.